*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background: rgb(0, 0, 0);
    color: rgb(185, 181, 181);
    font-family: 'Montserrat', sans-serif;
}

.style
{
    font-style: italic;
}

.style_ernest{
    font-style: italic;
    font-size: .75rem;
}

/* .ernest
{
    color: rgba(3, 255, 142, 0.492);
    font-size: .5rem;
} */

.info_span{
    color: rgb(185, 181, 181);
    
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    flex-wrap: wrap;
    margin-bottom: 1%;
}

.logo{
    font-weight: 900;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    cursor: pointer;
}

.logo span{
    color: rgb(202, 53, 53);
}

.logo> img{
   width: 5rem;
    margin-left: 2%;
}

button{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(202, 53, 53);
    color: rgb(41, 39, 39);
    font-size: 1rem;
    cursor: pointer;
    transition: .8s;
    min-width: 100px;
    font-family: 'Montserrat', sans-serif;
}

button a{
    text-decoration: none;
    color: rgb(185, 181, 181);
}

button:hover{
    transition: .6s ease-in-out;
    background-color: rgba(3, 255, 142, 0.492);
    color: white;
}

@media screen and (min-width:375px) {
    .container{
        justify-content: space-between;
    }
}


/* aboutme */

.aboutme_container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(114, 51, 51);
}

.about_img{
    max-width: 500px;
    position: relative;
    margin-bottom: 1%;
    border-radius: 10px;
}

.about_img img{
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

/* .content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    opacity: 0;
    padding-left: 10%;
}

.content:hover{
    opacity: 1;
    cursor: pointer;
}

.content>*{
    transform: translateY(25px);
    transition: transform .6s;
}

.content:hover>*{
    transform: translateY(0px);
} */

.aboutme_desc h1{
    font-weight: 800;
    font-size: 1.2rem;
}

.aboutme_desc{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.aboutme_des_span{
    font-weight: 900;
}

.aboutme_desc p
{
    font-size: .75rem;
    width: 100%;
    margin: 1% auto;
}

.services.about_services{
    display: none;
}

@media screen and (min-width:768px){
    .aboutme_container{
        flex-direction: row-reverse;
    }

    .aboutme_desc h1
    {
        font-size: 2.5rem;
        font-weight: 900;
    }

    .aboutme_desc p{
        font-size: 1.5rem;
    }
    .about_img
    {
        width: 60%;
        margin-right: 2%;
    }

    .about_img img{
        border-radius: 50%;
        width: 100%;
        object-fit: contain;
    }

    .aboutme_desc{
        margin: 0 2%;
    }
}

@media screen and (min-width:1000px){

    .services.about_services{
        display: block;
        text-align: center;
    }

    .aboutme_container
    {
        margin-top: -3%; 
    }

   .aboutme_desc p{
    margin-top: 3%;
   }

    .about_img
    {
        width: 100%;
    }

    .about_img img{
        max-height: 500px;
    }

    .content
    {
        border-radius: 37%;
        width: 90%;
        margin-left: 5%;
    }
}

/* my services */
.services
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(114, 51, 51);
    margin-bottom: 1%;
}

.service_title
{
    margin: 3% auto 2%;
}

.service_title h1
{
    font-weight: 900;
    font-size: 1rem;
    margin: auto;
}


.service_content{
    margin-bottom: 5%;
    font-size: .75rem;
}


.service_content p{
    text-align: center;
}

@media screen and (min-width:768px){
    .services{
        flex-direction: column;
    }

    .service_title h1
    {
        font-size: 2rem;
    }

    .service_content p
    {
        font-size: 1.5rem;
    }

    .ernest
    {
        font-size: 1rem;
    }
}

@media screen and (min-width:1000px){
    .services{
        display: none;
        border: none;
        border-top: 1px solid rgb(114, 51, 51);
        margin-top: 5%;
    }
}

.work_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(114, 51, 51);
    margin-bottom: 3%;
}

.work_title{
    margin: 3% 0 2%;
    width: 100%;
}

.work_title h1{
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
}

.work_company{
    display: flex;
    width: 100%;
    font-size: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2%;
    background-color: rgba(69, 110, 98, 0.156);
}

.com{
    width: 48%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
    border: 1px solid rgb(30, 30, 55);
    margin: 1%;
    transition: .6s;
    cursor: pointer;
    outline: none;
    font-size: .75rem;
    transition: 1s ease-in-out;
}


.ind{
    background: linear-gradient(90deg,rgb(243, 161, 10),rgb(245, 237, 237),rgb(21, 148, 21));
    color: transparent;
    -webkit-background-clip: text;
}

.nep{
    background: linear-gradient(50deg,rgb(252, 0, 50),blue);
    color: transparent;
    -webkit-background-clip: text;
}

.con
{
    width: 100%;
    font-style: italic;
    text-align: center;
    margin: 1%;
    outline: none;
    font-size: 1rem;
}

.com:hover{
    background-color: black;
    border: none;
    transform: translateY(-5px);
    outline: none;
}

.motivation{
    background-color: rgba(69, 110, 98, 0.156);
    text-align: center;
    margin-bottom: 3%;
    font-size: .75rem;
}

#tooltiptext{
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
    font-size: .8rem;
}

.com:hover #tooltiptext{
    display: block;
    opacity: 1;
    color: #fff;
}

.com:hover div{
    display: none;
}

@media screen and (min-width:768px) {
    
    .work_title h1{
        font-size: 2rem;
    }


    .com{
        font-size: 1.5rem;
    }
    
    .motivation
    {
        font-size: 1.5rem;
    }

    #tooltiptext{
        font-size: 1.3rem;
    }

    .style_ernest
    {
        font-size: 1rem;
    }

    .con
    {
        font-size: 2rem;
    }
}

/* footer */

footer
{
    border-bottom: 1px solid rgb(114, 51, 51);
    margin-bottom: 2%;
}

footer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    padding: 3%;
    text-align: center;
    font-weight: 900;
}

footer>div a{
    font-weight: 100;
    font-size: .75rem;
    text-decoration: none;
}

.a_tag{
    color: rgb(185, 181, 181);
    transition: .6s;
}

.a_tag:hover{
    color: rgba(3, 255, 142, 0.492);
    transition: .6s ease-in-out;
}

@media screen and (min-width:768px) {
    
    footer>div{
        font-size: 2rem;
    }

    footer>div a{
        font-size: 1.5rem;
    }
}