/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */



*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.style_par
{
    font-style: bold;
    font-weight: 600;
}

.style_ernest{
    font-style: bold;
    font-size: .5rem;
}

.style_title{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #88581B;
}

.style_title_exp{
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-style: bold;
    font-weight: 900;
    color: #88581B;
}


.style_title_header
{
    color: #88581B;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}


/* font in media */
@media screen and (min-width:768px) {
    .style_title_header{
        font-size: 24px;
    }

    .style_title{
        font-size: 24px;
        font-style: bold;
    }

    .style_title_exp{
        font-size: 24px;
        font-style: bold;
        font-weight: 900;
    }
}

.style_title_footer{
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (min-width:768px)
{

    .style_title_footer
    {
        font-size: 24px;
    }
}

.info_span{
    color: rgb(185, 181, 181);
    
}

.nav{
    background: #F3EFE0;
}

.container{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-right: 2%;
    padding-left: 2%; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    margin: 0 auto;
}

.logo{
    font-weight: 900;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 29px 0;
    cursor: pointer;
}

.logo span{
    color: rgb(202, 53, 53);
}

.logo> img{
   width: 90px;
   height: 90px;
    margin-left: 2%;
}

button{
    padding: 8px 34px;
    border: none;
    outline: none;
    background-color: #88581B;
    color: rgb(7, 7, 7);
    font-size: 1rem;
    cursor: pointer;
    transition: .8s;
    width: 150px;
    font-weight: 300;
    transition: 1s ease-out;
    margin-bottom: 10px;
}

button a{
    text-decoration: none;
    color: white;
}


button:hover{
    transition: .6s ease-in;
    background-color: transparent;
    border: 1px solid #0f0f0f;
    color: black;
}

button:hover a{
    color: black;
    font-weight: 300;
}


@media screen and (min-width:320px) {
    .container{
        justify-content: space-between;
        flex-direction: row;
    }
}

/* aboutme */

.aboutme_container
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    line-height: 1.5rem;
}


.about_img{
    max-width: 500px;
    position: relative;
    margin-bottom: 1%;
    filter: drop-shadow(0px 2px 10px rgba(239, 239, 239, 0.773));
}

.about_img img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: contain;
    cursor: pointer;
    margin-top: 5%;
}

.aboutme_desc h1{
    line-height: 1;
}

.aboutme_desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme_des_span{
    font-weight: 900;
}

.aboutme_desc p
{
    font-size: .75rem;
    width: 100%;
    margin: 1% auto;
}

.services.about_services{
    display: none;
}

@media screen and (min-width:768px){
    .aboutme_container{
        flex-direction: row-reverse;
    }

    .aboutme_desc
    {
        align-items: flex-start;
    }

    .aboutme_desc h1
    {
        padding-top: 20px;
        font-weight: 900;
        line-height: .5;
    }

    .aboutme_desc p{
        padding-top: 10px;
        font-size: 16px;
    }

    .about_img
    {
        width: 100%;
        height: 100%;
    }

    .about_img img{
        width: 100%;
        height:100%;
    }

    .aboutme_desc{
       width: 100%;
    }


}

@media screen and (min-width:1000px){

    .services.about_services{
        display: block;
        text-align: center;
        background: transparent;
        width: 95%;
    }

   .aboutme_desc p{
    width: 95%;
    margin-top: 3%;
    margin: 0;
   }

    .about_img
    {
        width: 100%;
        margin-top: 1%;
    }

    .about_img img{
        max-height: 500px;
    }

    .content
    {
        border-radius: 37%;
        width: 90%;
        margin-left: 5%;
    }
}
/* my services */

.services
{
    background-color: #ebf3e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    border-top: 1px solid #b0a695;
        border-right: 1px solid #b0a695;
}

.service_title
{
    margin: 3% auto 2%;
}

.service_title h1
{
    font-weight: 900;
    font-size: 1rem;
    margin: auto;
}


.service_content{
    margin-bottom: 2%;
    font-size: 0.75rem;
    text-align: center;
    padding: 0 2%;
}


.service_content p{
    text-align: center;
}

@media screen and (min-width:768px){
    .services{
        flex-direction: column;
    }

    .service_content p
    {
        font-size: 1rem;
    }

    .ernest
    {
        font-size: 1rem;
    }
}

@media screen and (min-width:1000px){
    .services{
        display: none;
        border: none;
        
        margin-top: 5%;
        border-top: 1px solid #b0a695;
        border-right: 1px solid #b0a695;
       
    }
}

/* experience */


.work_container{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #F3EFE0; */
}

.work_title{
    width: 100%;
    padding: 2% 0;
    background-color: #F3EFE0;
}

.work_title h1{
    /* font-size: 1rem; */
    text-align: center;
}

.work_company{
    display: flex;
    width: 100%;
    /* font-size: 1rem; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2%;
    background-color: #F3EFE0;
}

.com{
    width: 48%;
    text-align: center;
    padding: 2%;
    border: 1px solid #000000;
    margin-bottom: 1%;
    transition: .6s;
    cursor: pointer;
    outline: none;
    transition: 1s ease-in-out;
}


.ind{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    /* background: linear-gradient(180deg,rgb(243, 161, 10),rgb(245, 237, 237),rgb(21, 148, 21));
    color: transparent;
    -webkit-background-clip: text; */
}

.nep{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Raleway',sans-serif;
    /* background: linear-gradient(0deg,rgb(252, 0, 50),blue);
    color: transparent;
    -webkit-background-clip: text; */
}

.con
{
    width: 100%;
    text-align: center;
    margin: 1%;
    outline: none;
    font-size: 1rem;
}

.com:hover{
    background: #ebf3e8;
    border: none;
    transform: translateY(-5px);
    outline: none;
    color: black;
}

.motivation{
    text-align: center;
    background-color: #ebf3e8;
    padding: 2%;
    width: 80%;
}

.motivation p{
    font-style: italic;
}

#tooltiptext{
    display: none;
    opacity: 0;
    transition: opacity 2s ease;
    font-size: .8rem;
    font-weight: 200;
}

.com:hover #tooltiptext{
    display: block;
    opacity: 1;
    color: #000;
}

.com:hover div{
    display: none;
}

@media screen and (min-width:768px) {


    .com{
        font-size: 20px;
        width: 30%;
    }
    
    .motivation
    {
        font-size: 1.5rem;
    }

    #tooltiptext{
        font-size: 1rem;
        font-weight: 300;
    }

    .style_ernest
    {
        font-size: 16px;
    }

    .con
    {
        font-size: 20px;
    }

    .ind,.nep
    {
        font-size: 20px;
    }
}

/* footer */

footer
{
    margin-top: 2%;
    background-color: #F3EFE0;
}

footer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
    padding: 3%;
    text-align: center;
    font-weight: 900;
}

footer>div a{
    font-weight: 100;
    font-size: .75rem;
    text-decoration: none;
}

.a_tag{
    color: black;
    transition: .6s;
}

.a_tag:hover{
    color: #b0a695;
    transition: .6s ease-in-out;
}

@media screen and (min-width:768px) {
    
    footer>div a{
        font-size: 20px;
    }
}